ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}